body {
    background-color: #ffffff;
    color:#333;
    font-family:'Lilita One', cursive;
  }
  
  #app{
    display: block;
    width: 400px;
    margin:100px auto 0;
    border: 1px solid #333;
  }
  
  h1{ 
    font-size: 30px;
    text-align: center;
    margin:0; 
  }
  
  .btn{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    outline:none;
  
    
  }
  ul{
    font-family:'Lilita One', cursive ;
   
  }
  
  .frm_todo{
    margin:0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family:'Lilita One', cursive;
    margin-bottom: 10px;
    margin-left: 5px;
  
  }
  
  .btn{
    background:noene;
    color: #888;
    font-size: 15px;
    width:100px;
    margin: 10px 0 0;
    cursor: pointer;
  
  }
  
  
  